body {
  background-image: url(../view/imagem_de_fundo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  width: 1300px;
  max-height: 640px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

form::-webkit-scrollbar{
width: 30px;
}

form::-webkit-scrollbar-track{
background-color: #ccc;
border-radius: 5px;
}

form::-webkit-scrollbar-thumb{
background-color: gray;
border-radius: 5px;
border: 5px solid gray;
}

form div{
  display: block;
  overflow-y: scroll;
}


div{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  text-align: center;
  background:linear-gradient(90deg, rgba(218,215,208,1) 0%, rgba(0,85,82,1) 50%, rgba(218,215,208,1) 100%);
  border: 5px solid linear-gradient(90deg, rgba(218,215,208,1) 100%, rgba(0,85,82,1) 50%, rgba(218,215,208,1) 100%);
  color: aliceblue;
}

a{
background: rgb(0, 85, 82);
border-radius: 6px;
padding: 10px 20px;
cursor: pointer;
color: aliceblue;
border: none;
font-size: 16px;
text-decoration: none;
display: inline-block;
position: relative;
left: 50%;
transform: translateX(-50%);
}

h3{
text-align: center;
}

p{
text-align: center;
}
