<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
  <title>Pagina de acesso materiais adaptados</title>
</head>

<body>
  <h1>materiais adaptados</h1>
  <div>
    <a href="home.html">Pagina home</a>
  </div>
  <div>
    <a href="downloads.html">Baixe aqui seus arquivos</a>
  </div>
  <div>
    <a href="uploads.html">Adicione aqui seus arquivos</a>
  </div>

  <h2>Site destinado à pessoas com deficiência e atraso no aprendizado</h2>
  <p>Nos dias presentes,a quantidade de crianças e pessoas que apresentam atraso no desenvolvimento e/ou doenças mentais
    tem dificuldades para o aprendizado,devido a isso</p>
  <img src="https%3A%2F%2Fgithub.com%2Ftaytark%2Fprojeto-final%2Fraw%2Fmain%2FMVC1%2Fassets%2Fwallpaper.png"
    alt="imagem materiais adaptados">
  <p>A alfabetização é um dos processos mais importantes e delicados na vida de uma criança. Num primeiro momento,
    deve-se lançar um breve olhar para os dados citados abaixo:</p>
  <p>“Ao tratar das pessoas com deficiência com 10 anos ou mais, os dados mostraram que, em média, são analfabetas:
    13,5% das pessoas com deficiência visual, 21,2% com deficiência auditiva, 30,2% com deficiência física e 45,6% das
    pessoas com deficiência mental. Ainda com relação à população com deficiência mental, a concentração (52,5%) do
    analfabetismo ocorre na faixa etária dos 10 aos 14 anos.”
    site:critica educativa.</p>
  <p>Mediante dados apresentados, é importante que se atentar aos métodos de ensino aplicados e aos materiais
    pedagógicos fornecidos para crianças atípicas. Comumente, quando se aborda inclusão escolar, é idealizado: Rampas,
    elevadores, mesas, cadeiras, etc, mas a disponibilização de materiais adaptados de acordo com as peculiaridades da
    criança é importantíssima para viabilizar a aprendizagem. Vale lembrar que todos os itens citados acima são de suma
    importância, o objetivo é ampliar a dinâmica da inclusão escolar através dos materiais pedagógicos.</p>
  <p>Devido a esta pequena pesquisa,foi iniciado a criação deste site.</p>
</body>

</html>