<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <form id="login-form">
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
      </div>
      <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
      </div>
      <button type="submit">Login</button>
    </form>

    <script>
      const form = document.getElementById('login-form');
      
      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const senha = document.getElementById('senha').value;
        
        const response = await fetch('https://materiais-adaptados.onrender.com/materialstore/user/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email, senha })
        });
        
        if (response.ok) {
          const token = await response.text();
          localStorage.setItem('token', token);
          alert('Login realizado com sucesso!');
          window.location.href = 'home.html';
        } else {
          const message = await response.text();
          alert(`Erro ao realizar login`);
        }
      });
    </script>
    <script src="../controller/autenticacaoController.js"></script>
    <script src="../routes/autenticacaoRoute.js"></script>
  </body>
</html>