<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Registro</title>
</head>

<body>
    <h2>Realize o seu cadastro</h2>
    <form>
        <div>
            <input type="text"  id="name" name="name" placeholder="Digite o seu nome">
            <label for="name" >Digite o seu nome</label>
        </div>
        <div>
            <input type="text"  id="lastname" name="lastname" placeholder="Digite o seu sobrenome">
            <label for="lastname" >Digite o seu sobrenome</label>
        </div>
        <div>
            <input type="email"  id="email" name="email" placeholder="Digite o seu e-mail">
            <label for="email" >Digite o seu e-mail</label>
        </div>
        <div>
            <input type="password"  id="password" name="password" placeholder="Digite a sua senha">
            <label for="password" >Digite a sua senha</label>
        </div>
        <div>
            <input type="password"  id="confirmpassword" name="confirmpassword"
              placeholder="Confirme a sua senha">
            <label for="confirmpassword" >Confirme a sua senha</label>
        </div>
        <div>
              <input type="checkbox"  value="" id="agree-form" name="agree-form">
              <label for="agree-form" >Você aceita os <a href="#">termos de serviço</a>?</label>
        </div>
              <input type="checkbox"  checked id="newsletter" name="newsletter">
              <label for="newsletter" >Deseja receber notícias?</label>
        <div>   
            <a href="home.html">Cadastrar</a>
        </div> 
    </form>
        <a href="login.html">Eu já tenho uma conta</a>
</body>

</html>