<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Upload de Arquivos</title>
</head>

<body>
  <h1>Upload de Arquivos</h1>
  <div>
    <a href="home.html">Pagina home</a>
  </div>
  <div>
    <a href="downloads.html">Baixe aqui seus arquivos</a>
  </div>
  <div>
    <a href="uploads.html">Adicione aqui seus arquivos</a>
  </div>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="arquivo">
    <button type="submit">Enviar</button>
  </form>
</body>

</html>